section.centralize-area
  br
  br
  br
  br
  br
  br
  div(v-if="!autorizado")
    h1 Gerencie cursos
    br
    br
    h2 O vanessador auxilia administradores do ITS a gerenciar formulários 
      a(href="https://www.typeform.com/") typeform.

  div(v-else)
    h1 Bem vindo
    br
    br
    h2 Escolha alguma das opções do menu acima
        
