div.navbar(ng-show="user == null")
  h1 Gerencie cursos
  p O vanessador auxilia professores do ITS em cursos criados através do 
    a(href="https://www.typeform.com/") typeform.

  button.btn.btn-default(type="submit" ng-click="loginEmailAndPassword()") Login 
  a.btn.btn-default(type="submit" href="#!/signup") Cadastre-se 

  

