section
  br
  br
  h1 Gerencie cursos
  br
  br
  h2 O vanessador auxilia administradores do ITS a gerenciar formulários 
    a(href="https://www.typeform.com/") typeform.

section.background-red(ng-show="user !== null")
  br
  br
  h2 Registre um formulário 
  br
  br
  form.form-horizontal
    fieldset 
    - var form = {'input_typeform_nome':{'type':'text', 'placeholder':'nome'}, 'input_typeform_uuid':{'type':'text', 'placeholder':'uuid'}}
    - for(var key in form)
      - var val = form[key]
      div.form-group
        label.col-lg-2.control-label(for=""+key)= val.placeholder 
        div.col-lg-10 
          input.form-control(style="width:300px;" type=""+val.type id=""+key placeholder=""+val.placeholder)
    a.btn.btn-default(href="onNovo('curso', {uuid: document.getElementById('input_typeform_uuid').value, nome: document.getElementById('input_typeform_nome').value}") Registrar

section(ng-show="user !== null")
  br
  br
  h2 Procure por um formulário
  br
  br
  form.navbar-form(role="search") 
    div.form-group
      input.form-control.navbar-left#input_typeform_procura(type="text" placeholder="lD2u6E" style="width: 150px;")
    button.btn.btn-default.navbar-rigth(ng-click="searchForm('input_typeform_procura', {completed:true,limit:10})") Buscar
    img(ng-show="onLoading == true" src="/assets/images/loading.gif" style="width: 40px; heigth: 40px")
  
  br
  br
  img(ng-show="typeformData !== null" src="/assets/images/arrow.svg" style="width: 30%")

section.background-red(ng-show="typeformData !== null")
  br
  br
  h1 Estatísticas
  table.table.table-striped.table-hover
    thead
      tr
        th(ng-repeat="(k,v) in typeformData.stats.responses") {{ k }}
    tbody
      tr
        td(ng-repeat="(k,v) in typeformData.stats.responses") {{ v }}

section(ng-show="typeformData !== null")
  br
  br
  h1 Questões e Respostas
  table.table.table-striped.table-hover
    thead
      tr
        th # N
        th # Token
        th(ng-repeat="(k,v) in typeformData.questions") {{ v.question }}
    tbody
      tr(ng-repeat="(k,v) in typeformData.responses")
        td {{ k }}
        td {{ v.token }} 
        
