section.centralize-area(ng-controller="PaypalCtrl")
  div
    br
    br
    br
    h2 Inspecione o boleto {{ boleto.invoice }}
    br
    br
    br
    p {{ boleto }}
    table.table.table-striped.table-hover
      thead
        tr
          th Payment ID
          th Status
          th Resposta de Formulário
          th Ações
      tbody
        tr
          td {{ boleto.invoice }}
          td {{ boleto.status }}
          td {{ boleto.token }}
          td
            a.btn.btn-success(ng-show="boleto.status === 'DRAFT'" ng-click="onSend()") Enviar email de notificação
            a.btn.btn-success(ng-show="boleto.status === 'SENT'" ng-click="onRemind()") Reenviar email de notificação
            a.btn.btn-danger(ng-show="boleto.status === 'SENT'" ng-click="onCancel()") Cancelar pagamento
            p(ng-show="boleto.status === 'CANCELLED'") Boleto cancelado
            
            
