section.centralize-area
  div
    br
    br
    br
    h2 Inspecione o boleto {{ boleto.invoice }}
    br
    br
    br
    table.table.table-striped.table-hover
      thead
        tr
          th Status
          th Resposta de Formulário
          th Ações
      tbody
        tr
          td {{ boleto.status }}
          td
            a(href="/#!/formularios/{{ currentForm }}/responses/{{ boleto.token }}") {{ boleto.token }}
          td 
            a.btn.btn-success(ng-show="boleto.status === 'DRAFT'" ng-click="onSendBoleto()") Enviar
            a.btn.btn-danger(ng-show="boleto.status === 'DRAFT'" ng-click="onDeleteBoleto()") Delete
            a.btn.btn-success(ng-show="boleto.status === 'SENT'" ng-click="onRemindBoleto()") Reenviar
            a.btn.btn-danger(ng-show="boleto.status === 'SENT'" ng-click="onCancelBoleto()") Cancelar
 
 
