section.centralize-area(ng-controller="PaypalCtrl")
  div
    br
    br
    br
    h2 Inspecione o boleto {{ boleto.id }}
    br
    br
    br
    table.table.table-striped.table-hover
      thead
        tr
          th Payment ID
          th Status
          th Resposta de Formulário
          th Ações
      tbody
        tr(ng-repeat="(i, e) in boleto") 
          td {{ e.id }}
          td {{ e.status }}
          td {{ e.token }}
          td
            a.btn.btn-default(ng-show="e.status === 'DRAFT'" ng-click="send('{{ e.id }}')") Enviar email de notificação
            a.btn.btn-default(ng-show="e.status === 'SENT'" ng-click="remind('{{ e.id }}')") Reenviar email de notificação
            a.btn.btn-default(ng-show="e.status === 'SENT'" ng-click="cancel('{{ e.id }}')") Cancelar pagamento
            p(ng-show="e.status === 'CANCELLED'") Boleto cancelado
            
            
