section.centralize-area
  div
    br
    br
    br
    h2 Inspecione um boleto
    br
    br
    br 
    table.table.table-striped.table-hover(ng-repeat="(k,v) in boletos") 
      thead 
        tr
          th Formulário
          th N  
          th ID
          th Status
          th Token
      tbody
        tr(ng-repeat="(q,w) in v") 
          td {{ k }}
          td {{ q }}  
          td 
            a(href="/#!/boletos/{{ w.invoice }}") {{ w.invoice }}
          td {{ w.status }} 
          td 
            a(href="/#!/formularios/{{ k }}/responses/{{ w.token }}") {{ w.token }} 
      br
      br
      br
          


