div.jumbotron(v-if='$parent.autorizado' style='background:transparent !important')
  br 
  br
  br
  h2 Cobranças
  br
  br
  div.container
    br
    br
    div(v-show='cobrancas === null')
      img(src="/assets/images/loading.gif" width="64" height="64")
    div(v-show='cobrancas !== null')
      div(v-for="(v,k) in cobrancas" :key="k" :header="k")
        accordion(type="info" :one-at-time='true')  
          panel(:header="cursos[cobrancas[k].curso]['Nome do curso'] +' - '+estudantes[cobrancas[k].estudante]['Nome']+' '+estudantes[cobrancas[k].estudante]['Sobrenome']")
            button.btn.btn-warning(v-show='!atualizar[k]' :name='k' v-on:click.prevent='edit') Atualizar
            button.btn.btn-success(v-show='atualizar[k]' :name='k' v-on:click.prevent='update') Enviar
            button.btn.btn-danger(v-show='!atualizar[k]' :name='k' v-on:click.prevent='_delete') Deletar
            form
              fieldset
                div.form-group(v-for="(val,key) in v")
                  label.control-label(:for='key') {{ key }} 
                  br
                  div(v-if='!atualizar[k]') 
                    small 
                      span {{ val }}
                      br
                      
                  div(v-else)
                    input.form-control(type='text' :id='k' :placeholder='val')

div(v-else)
  h1 401
  p Não Autorizado
  img(src='https://i.pinimg.com/originals/82/62/90/826290d0a78a5d464815e9112abf788a.jpg') 
