section(ng-show="resetPassword")
  h1 Insira sua nova senha
  
  div.navbar-left
    form.form-horizontal
      fieldset 
        - var form = {'reset_login_password':{'type':'password', 'placeholder':'senha'}, 'reset_login_password_confirm':{'type':'password', 'placeholder': 'confirme sua senha'}}
        - for(var key in form)
          - var val = form[key]
            div.form-group
              label.col-lg-2.control-label(for=""+key)= val.placeholder 
              div.col-lg-10 
                input.form-control(style="width:300px;" type=""+val.type id=""+key placeholder=""+val.placeholder)
          
      button.btn.btn-default(type="submit" ng-click="confirmResetPassword()") Enviar

section(ng-show="confirmEmail")
  h1 Email confirmado
  p faça seu 
    a(href="/#!/login")
