section(ng-show="user !== null")
  br
  br
  br
  br
  div.navbar-header(role="search") 
    img.img-responsive.img-circle.navbar-left(width="100" heigth="100" src="{{ user.photoURL }}")
    h1.navbar-right {{ user.displayName || user.email }}
  br
  br
  br
  br
  div.navbar.navbar-nav.navbar-left
     

