section.centralize-area
  br
  br
  br
  br
  img.img-circle(ng-show="user.photoURL !== null" width="128" heigth="128" ng-src="{{ user.photoURL }}")
  img.img-circle(ng-show="user.photoURL === null" width="128" heigth="128" ng-src="{{ defaultPhotoURL }}")
  br
  br
  table.table.table-striped.table-hover
    tbody
      tr
        td Nome 
        td {{ user.displayName || "Não disponível" }}
      tr
        td Email
        td {{ user.email }}
      tr
        td Número de telefone 
        td 
          p {{ user.phoneNumber || "Vincule um número de telefone"}} 
          a.btn.btn-default(href="/#!/conta/telefone/vincular") Vincular 
      tr
        td Google 
        td
          p(ng-show="user.linkedAccount") Conta Google vinculada 
          a.btn.btn-default(ng-show="!user.linkedAccount" ng-click="linkAccount()") Vincular
            img(style="width:2%;heigth:2%" src="https://cdn.worldvectorlogo.com/logos/google-icon.svg")


