div.jumbotron(v-if='$parent.autorizado' style='background:transparent !important')
  br
  br
  br
  h2 Estudantes
  br
  br
  div.container
    accordion(type="warning")
      panel(header='Novo estudante')
        form
          fieldset
            div.form-group(v-for="(v,k) in modelos.estudantes")
              label.control-label(:for="k") {{ v.label }}
              br
              div
                input.form-control(:type="v.type" :id="k" :placeholder="v.placeholder")

    accordion(type="success")
      panel(header="Importar Excel") 
        form
          fieldset
            div.form-group(v-for="(v,k) in modelos.xls.estudantes")
              label.control-label(:for="k") {{ v.label }}
              br
              div
                input.form-control(:type="v.type" :id="k" :placeholder="v.placeholder")
        input(type="file" v-on:change='importarXLS')

  div.container
    br
    br
    div(v-show='estudantes === null')
      img(src="/assets/images/loading.gif" width="64" height="64")
    div(v-show='estudantes !== null')
      h2 Lista de estudantes
      accordion(type="info" :one-at-time='true')  
        panel(v-for="(v,k) in estudantes" :data="v" :key="k" :header="v['Nome ']+' '+v['Sobrenome ']")
          button.btn.btn-warning(v-show='!atualizar[k]' :name='k' v-on:click.prevent='edit') Atualizar
          button.btn.btn-success(v-show='atualizar[k]' :name='k' v-on:click.prevent='update') Enviar
          form
            fieldset
              div.form-group(v-for="(val,key) in v")
                label.control-label(:for='k+"_"+key' :id='k+"@"+key+"@label"') {{ key }} 
                br
                div(v-if='!atualizar[k]') 
                  small 
                    span {{ val }}
                    br
                      
                div(v-else) 
                  input.form-control(v-show='key === "Data de Término " || key === "Data de início"' type='date' :id='k+"@"+key' :value='val')
                  input.form-control(v-show='key !== "Data de Término " && key !== "Data de início"' type='text' :id='k+"@"+key' :value='val')

div(v-else)
  h1 401
  p Não Autorizado
  img(src='https://i.pinimg.com/originals/82/62/90/826290d0a78a5d464815e9112abf788a.jpg') 
