section
  br
  br
  br
  div.container
    h1 Alumni
    accordion(type="warning")
      panel(header='Novo alumni')
        form
          fieldset
            div.form-group(v-for="(v,k) in modelos.estudantes")
              label.control-label(:for="k") {{ v.label }}
              br
              div
                input.form-control(:type="v.type" :id="k" :placeholder="v.placeholder")
    accordion(type="success")
      panel(header="Importart Excel") 
        input(type="file" :name='estudantes' v-on:change='importarXLS')
        form
          fieldset
            div.form-group(v-for="(v,k) in modelos.xls.estudantes")
              label.control-label(:for="k") {{ v.label }}
              br
              div
                input.form-control(:type="v.type" :id="k" :placeholder="v.placeholder")

  div.container  
    accordion(type="info" :one-at-time='true')  
      panel(v-for="(v,k) in estudantes" :data="v" :key="k" :header="v['Nome ']+' '+v['Sobrenome ']")
        strong(v-for="(val,key) in v")
          u(:id="key") {{ key }}: {{ val }}
          <router-link :to="{path: '/estudantes/'+k+'/editar?q='+key}"> Atualizar</router-link>
          br
