section.centralize-area(ng-controller="TypeformCtrl")
  br
  br
  h1 Estatísticas para {{ currentForm }}
  br
  br
  img(ng-show="onLoading" src="/assets/images/loading.gif")
  table.table.table-striped.table-hover(ng-show="onLoading === false && typeformData")
    thead
      tr
        th(ng-repeat="(k,v) in typeformData.stats.responses") {{ k }}
    tbody
      tr
        td(ng-repeat="(k,v) in typeformData.stats.responses") {{ v }}

    a.btn.btn-default(href="/#!/formularios/{{ currentForm }}/questions") Ver respostas
