section.centralize-area(ng-controller="TypeformCtrl")
  br
  br
  h1 Questões e respostas para 
    a(ng-href="{{ currrentFormUrl }}") {{ currentForm }}
  br
  br
  table.table.table-striped.table-hover
    thead
      tr
        th N
        th Token
        //th(ng-repeat="(k,v) in typeformData.questions") {{ v.question }}
    tbody
      tr(ng-repeat="(k,v) in typeformData.responses")
        td {{ k }}
        td 
          a(href="/#!/formularios/{{ currentForm }}/questions/{{ v.token }}") {{ v.token }} 
        //td(ng-repeat="(_k,_v) in v.answers") {{ _v }} 
