section.centralize-area(ng-controller="TypeformCtrl")
  br
  br
  br
  div(ng-show="typeformData === null")
    button.btn.btn-lg.btn-default
      span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate Loading...
  div(ng-show="typeformData")
    h2 Inspecione um formulário
    br
    br
    br

    form.navbar-form(ng-show="registeredForms === null")
      div.form-group
        p Nenhum curso encontrado. Registre um novo formulário typeform clicando no botão abaixo
        a.btn.btn-default(href="/#!/formularios/novo") Registrar

    table.table.table-striped.table-hover(ng-show="registeredForms !== null")
      thead
        tr
          th #
          th Nome
          th Proprietários
          th uuid
          th tags
      tbody
        tr(ng-repeat="(k,v) in registeredForms") 
          td {{ k }}
          td {{ v.nome }}
          td {{ v.owners.join(', ') }}
          td
            p {{ v.uuid }} 
            a.btn.btn-default(href="/#!/formularios/{{ v.uuid }}/stats") Estatisticas
            a.btn.btn-default(href="/#!/formularios/{{ v.uuid }}/questions") Questões e respostas
          td {{ v.tags.join(', ') }}
