section.centralize-area
  br
  br
  br
  h1 Estatísticas para {{ currentForm }}
  br
  br
  br
  a.btn.btn-default(href="/#!/formularios/{{ currentForm }}/questions") Ver tipo de questões
  a.btn.btn-default(href="/#!/formularios/{{ currentForm }}/responses") Ver respostas

  table.table.table-striped.table-hover(ng-show="stats")
    thead
      tr
        th(ng-repeat="(k,v) in stats.responses") {{ k }}
    tbody
      tr
        td(ng-repeat="(k,v) in stats.responses") {{ v }}

