section.centralize-area(ng-controller="TypeformCtrl")
  div
    br
    br
    br
    h2 Inspecione um formulário
    br
    br
    br

    form.navbar-form(ng-show="registeredForms === null")
      div.form-group
        p Nenhum curso encontrado. Registre um novo formulário typeform clicando no botão abaixo
        a.btn.btn-default(href="/#!/formularios/novo") Registrar

    table.table.table-striped.table-hover(ng-show="registeredForms !== null")
      thead
        tr
          th uuid
          th Nome
          th Tags
          th Proprietários
          th Ações
      tbody
        tr(ng-repeat="(k,v) in registeredForms") 
          td {{ k }}
          td {{ v.nome }}
          td
            p(ng-repeat="(i, e) in registeredForms[k].tags")
              a(href="/#!/formularios/tags/{{ e }}") {{ v.tags.join(', ') }}
          td 
            a(href="/#!/users/{{ v.owner }}/profile") {{ v.owner }}
          td
            a.btn.btn-default(href="/#!/formularios/{{ k }}/stats") Estatisticas
            a.btn.btn-default(href="/#!/formularios/{{ k }}/questions") Questões e respostas
            a.btn.btn-default(href="/#!/formularios/{{ k }}/delete") Deletar
