section.centralize-area
  br
  br
  h1 Formulário de questões {{ currentForm }}
  br
  br
  a.btn.btn-default(href="/#!/formularios/{{ currentForm }}/stats") Ver estatísticas
  a.btn.btn-default(href="/#!/formularios/{{ currentForm }}/responses") Ver respostas
  table.table.table-striped.table-hover
    thead
      tr
        th Índice
        th ID
        th Valor
    tbody
      tr(ng-repeat="(k,v) in questions")
        td {{ k }}
        td {{ v.field_id }}
        td 
          a(href="/#!/formularios/{{ currentForm }}/questions/{{ v.field_id }}") {{ v.question }}  
