section.centralize-area
  br
  br
  br
  h1 Resposta {{ token }} do formulário {{ currentForm }}
  br
  br
  br 
  a.btn.btn-default(ng-show="boleto !== null" href="/#!/boletos/{{ boleto.invoice }}") Verificar boleto de pagamento
  a.btn.btn-success(ng-show="boleto === null" ng-click="onNovoBoleto()") Criar um boleto de pagamento
  table.table.table-striped.table-hover
    thead
      tr
        th Pergunta
        th Resposta
    tbody
      tr(ng-repeat="(k,v) in answers")
        th {{ questions[k] }}
        td.typeform-answer {{ v }}

