
section.centralize-area
  br
  br
  br
  h1 Respostas conforme {{ currentToken }}
  br
  br
  br
  table.table.table-striped.table-hover
    tbody
      tr(ng-repeat="(k,v) in questions")
        th {{ v.question }}
        td {{ answers[v.id] }}


