div.jumbotron(v-if='$parent.autorizado' style='background:transparent !important')
  br 
  br
  br
  h2 Formulários Pré-matrícula
  br
  br
  div.container    
    accordion(type="warning" )
      panel(header='Novo Formulario')
        form
          fieldset
            div.form-group(v-for="(v,k) in modelos.formularios")
              label.control-label.input-sm(:for="k") {{ v.label }}
              br
              div
                input.form-control.input-sm(:type="v.type" :id="k" :placeholder="v.placeholder")
        button.btn.btn-success(v-on:click="onFormularios") Adicionar formulário

    accordion(type="success")
      panel(header="Importart Excel") 
        form
          fieldset
            div.form-group(v-for="(v,k) in modelos.xls.formularios")
              label.control-label(:for="k") {{ v.label }}
              br
              div
                input.form-control(:type="v.type" :id="k" :placeholder="v.placeholder")
        input(type="file" :name='formularios' v-on:change='importarXLS')

  div.container
    br
    br
    div(v-show='formularios === null')
      img(src="/assets/images/loading.gif" width="64" height="64")
    div(v-show='formularios !== null')
      h2 Lista de formulários
      br
      br
      div(v-for="(v,k) in formularios" :data="v" :key="k" :header="v")
        accordion(type="info" :one-at-time='true')  
          panel(:header="v")
            accordion(type="warning" :one-at-time='true')
              panel(header="Respostas enviadas")    
                div(v-for='(r,q) in responses[v]')
                  accordion(type="success" :one-at-time='true')
                    panel(:header="q")
                      div(v-for='(a,c) in responses[v][q]') 
                        accordion(type="info")
                          panel(:header='c')
                            div(v-for='(aa,cc) in a')
                              small {{ $parent.questions[v][cc] }}: {{ aa }}

            accordion(type="warning" :one-at-time='true')
              panel(header="Questões") 
                div(v-for='(r,q) in questions[v]')
                  p {{ q }}: {{ r }}

div(v-else)
  h1 401
  p Não Autorizado
  img(src='https://i.pinimg.com/originals/82/62/90/826290d0a78a5d464815e9112abf788a.jpg') 
