section.centralize-area
  div
    br
    br
    br
    h2 Inspecione um formulário
    br
    br
    br
    p {{ registeredForms }}
    table.table.table-striped.table-hover
      thead
        tr
          th uuid
          th Nome
          th Tags
          th Proprietários
          th Ações
      tbody
        tr(ng-repeat="(k,v) in registeredForms") 
          td 
            a(href="https://{{ v.base_url }}/{{ k }}") {{ k }}
          td {{ v.name }}
          td
            p(ng-repeat="(i, e) in v.tags")
              a(href="/#!/formularios/tags/{{ e }}") {{ v.tags.join(", ") }}
          td 
            a(href="/#!/users/{{ v.owner }}/profile") {{ v.owner }}
          td
            a.btn.btn-default(href="/#!/formularios/{{ k }}/stats") Estatisticas
            a.btn.btn-default(href="/#!/formularios/{{ k }}/questions") Questões 
            a.btn.btn-default(href="/#!/formularios/{{ k }}/responses") Respostas
            a.btn.btn-default(ng-click="onUpdate(k)") Atualizar
            a.btn.btn-default(href="/#!/formularios/{{ k }}/delete") Delete
