extends layout

block nav
  nav.navbar.navbar-default.navbar-fixed-top(roles="navigation")
    div.navbar-header
      a.navbar-brand(href="#") Vanessador

    div#navbar-main.navbar-collapse.collapse 
      ul.nav.navbar-nav.navbar-right(ng-controller="AuthCtrl")
        li(ng-hide="authData")
          a(ng-click="login()") Login With Google
        li(ng-show="authData")
          img(ng-src="{{ authData.google.cachedUserProfile.avatar_url }}")
          p {{ authData.google.displayName }}
          a(ng-click="logout()") Logout

block content
  div.container
    div#banner.page-header
      div.row
        div.col-lg-8.col-md-7.col-sm-6
          p.lead Menu
      div.row
        div.col-lg-3.col-md-3.col-sm-4
          div.list-group.table-of-contents
            a.list-group-item(href="/#!cursos") Cursos
            a.list-group-item(href="/#!professores") Professores

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js")
  != js("index", {'data-turbolinks-track':true})
