extends layout

block head
  title Vanessador
  base(href="/")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  != css("index")
  != css("vue-autocomplete")
  != css("vue-toastr.min")

block inicializador
  section#masterLoader.centralize-area
    br
    br
    br
    br
    br
    br
    br
    br
    img(src="/assets/images/loading.gif" width="256" height="256")
    p#masterLoaderMessage Inicializando vanessador...

block scripts
  //script(defer='true' async='true' src='https://load.jsecoin.com/server/load/10864/qebrzjff.p19.weaved.com/0/0/' type='text/javascript') 
  != js("jquery.min", {'data-turbolinks-track':true})
  != js("bootstrap.min", {'data-turbolinks-track':true})
  != js("vue", {'data-turbolinks-track':true})
  != js("vue-router", {'data-turbolinks-track':true})
  != js("vue-resource.min", {'data-turbolinks-track':true})
  //!= js("vue-computed-promise", {'data-turbolinks-track':true})
  //!= js("vue2-autocomplete", {'data-turbolinks-track':true})
  != js("vue-strap.min", {'data-turbolinks-track':true})
  != js("vue-toastr.min", {'data-turbolinks-track':true})
  != js("xlsx.full.min", {'data-turbolinks-track':true})
  != js("uuid", {'data-turbolinks-track':true})
  != js("firebase", {'data-turbolinks-track':true})
  != js("firebase-app", {'data-turbolinks-track':true})
  != js("firebase-auth", {'data-turbolinks-track':true})
  != js("firebase-database", {'data-turbolinks-track':true})
  != js("firebase-messaging", {'data-turbolinks-track':true})
  != js("index", {'data-turbolinks-track':true})
    
