section.col-md-12.centralize-area(ng-show="user === null")
  br
  br
  br
  br
  form
    fieldset Login
    - var form = {'input_login_email':{'type':'text', 'placeholder':'email@itsrio.org'}, 'input_login_password':{'type':'password', 'placeholder': 'senha'}}
    - for(var key in form)
      - var val = form[key]
      div.form-group
        label.col-lg-2.control-label(for=""+key)
          div.col-lg-10 
            input.form-control(style="width:300px;" type=""+val.type id=""+key placeholder=""+val.placeholder)
    button.btn.btn-default(type="submit" ng-click="loginEmailAndPassword()") Login 
    br
    br
    div.section-divider
      a(href="#!/signup" ng-show="user == null") Cadastre-se
      a(href="#!/resetPassword" ng-show="user == null") Esqueceu sua senha?
    br
    br
    div.section-divider
      hr.navbar-left
      span Ou
      hr.navbar-right

    div.container  
      - var form = {'input_login_google':{'img':'https://cdn.worldvectorlogo.com/logos/google-icon.svg', 'ng-click': 'loginGoogle()', 'text': 'Entrar com sua conta google'}}
      - for(var key in form)
        - var val = form[key]
          a.btn.btn-default(ng-click=""+val['ng-click'])= val.text
            img(style="margin: 5px; width: 30px; height: 30px;" src=""+val.img)

    

    
