doctype html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title Bem-vindo ao Vanessador
  body(leftmargin='0' marginwidth='0' topmargin='0' marginheight='0' offset='0' style='margin:0;padding:0;background-color:#f9f9f9;color:#646464;font-family:"Merriweather Sans"n, sans-serif;font-weight:300;height:100% !important;width:100% !important;')
    center
      table(align='center' border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' id='bodyTable' style='margin:0;padding:0;background-color:#f9f9f9;color:#646464;font-family:"Merriweather Sans", sans-serif;font-weight:300;border-collapse:collapse !important;height:100% !important;width:100% !important;')
        tr
          td#bodyCell(align='center' valign='top' style='margin:0;padding:0;height:100% !important;width:100% !important;')
            table#templateContainer(border='0' cellpadding='0' cellspacing='0' style='width:620px;border-collapse:collapse !important;')
              tr
                td(valign='top')
                  table#templateHeader(border='0' cellpadding='18' cellspacing='0' width='100%' style='border-collapse:collapse !important;')
                    tr
                      td(valign='top')
                        img.logo(src='http://www.altacomunicacao.com.br/wp-content/uploads/2017/02/ITS-Rio.png' style='border:0;height:64px;outline:none;text-decoration:none;padding-left:22px;')

              tr
                td(align='center' valign='top')
                  table#templateBody(border='0' cellpadding='40' cellspacing='0' width='100%' style='background-color:#ffffff;border-radius:6px;font-size:20px;line-height:34px;border-collapse:collapse !important;')
                    tr
                      td(valign='top')
                        p(style='margin:0;font-size:28px;padding-bottom:12px;') Olá
                          strong #{nome} 
                        p(style='margin:0;') Obrigado pelo seu interesse no 
                          strong #{curso}.
                        br
                        p(style='margin:0;') Para finalizar sua inscrição, é necessário realizar o pagamento através do <strong>Pagseguro</strong>, o que você pode fazer clicando no botão abaixo:
                        table(border='0' cellpadding='0' cellspacing='0' width='75%' style='border-collapse:collapse !important;')
                          tr
                            td.panel(align='center' valign='top' style='padding:50px 0;')
                              - var link = ''
                              - if(isAlumni === '0')
                                - link = 'https://pag.ae/1'
                              - if(isAlumni === '1')
                                - link = 'https://pag.ae/2'
                              - if(isAlumni === '2')
                                - link = 'https://pag.ae/3'
                              p #{link}
                              a.primary-button(href=''+link style='background-color:#00c084;border-bottom:3px solid #00aa70;border-radius:40px;color:#ffffff;display:inline-block;font-size:20px;font-weight:bold;line-height:1em;min-width:340px;padding:25px;text-align:center;text-decoration:none;text-transform:uppercase;')  Pague aqui
                         
                              p(style='margin:0;') Atenciosamente
                              p.signature(style='margin:0;font-size:26px;')
                              strong Cursos - ITS Rio
                              small
                                p Você recebeu esse email por ter realizado um cadastro na 
                                a(href='https://www.itsrio.org/') ITS Rio
                                p Caso você não tenha feito esse cadastro, por favor ignore essa mensagem.
