section
  br
  br
  br
  div.container
    h1 Matriculas
    accordion(type="warning")
      panel(header='Nova matricula')
        form
          fieldset
            div.form-group(v-for="(v,k) in modelos.matriculas")
              label.control-label(:for="k") {{ v.label }}
              br
              div
                input.form-control(:type="v.type" :id="k" :placeholder="v.placeholder")
        button.btn.btn-success(v-on:click="onMatriculas") Adicionar matrícula

    accordion(type="success")
      panel(header="Importart Excel") 
        input(type="file" :name='matriculas' v-on:change='importarXLS')
        form
          fieldset
            div.form-group(v-for="(v,k) in modelos.xls.matriculas")
              label.control-label(:for="k") {{ v.label }}
              br
              div
                input.form-control(:type="v.type" :id="k" :placeholder="v.placeholder")

  div.container  
    accordion(type="info" :one-at-time='true')  
      panel(v-for="(v,k) in matriculas" :data="v" :key="k" :header="k")
        strong(v-for="(val,key) in v")
          u(:id="key") {{ key }}: {{ val }}
          <router-link :to="{path: '/matriculas/'+k+'/editar?q='+key}"> Atualizar</router-link>
          br
