nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  div.container
    div.navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navCollapse")
        img(width="24" height="24" src="/assets/images/vanessadora.png")
    
    div.collapse.navbar-collapse.navbar-left
      ul.nav.navbar-nav
        li
          a.nav-link(href="/#!/") Vanessador

    div#navCollapse.collapse.navbar-collapse.navbar-right
      ul.nav.navbar-nav(ng-show="user === null")   
        li
          a.nav-link.active(href="https://www.github.com/lunhg/vanessador") Contribua
        li
          a.nav-link(href="/#!/login" ng-show="user == null") Login
        li(ng-show="user === null")
          a.nav-link(href="/#!/signup" ng-show="user == null") Cadastre-se
      
      ul.nav.navbar-nav(ng-show="user != null")

        li#docs-menu(ng-show="user !== null" ng-mouseenter="onDropdownmenu('docs-menu', $event)" ng-mouseleave="onDropupmenu('docs-menu', $event)")
          a.btn-btn-default.dropdown-toogle(data-toogle="dropdown" aria-expanded="true") Docs
            span.caret
          ul.dropdown-menu(aria-labelledby="docs-menu")
            li
              a(href="/docs/server/index") Servidor/Exppress
            li.divider
            li
              a(href="/docs/server/config/app") App Config
            li
              a(href="/docs/server/config/server") Server Config
            li
              a(href="/docs/server/config/paypal") Paypal Config 
            li
              a(href="/docs/server/config/pagseguro") Pagseguro Config
           
            li.divider
            li
              a(href="/docs/client/index") Cliente/Angular
            li.divider
            li
              a(href="/docs/client/app") App
            li
              a(href="/docs/client/config") Config
            li
              a(href="/docs/client/auth-service") Auth Service
            li
              a(href="/docs/client/formulario-service") Formulario Service
            li
              a(href="/docs/client/main-service") Main Service
            li
              a(href="/docs/client/boleto-service") Boleto Service
            li
              a(href="/docs/client/main-ctrl") Main Control
            li
              a(href="/docs/client/directives") Directives

        // https://stackoverflow.com/questions/27837220/ie10-ng-repeat-mousedown-mouseenter#27841532
        li#boletos-menu(ng-show="user !== null" ng-,mouseenter="onDropdownmenu('boletos-menu', $event)" ng-mouseleave="onDropupmenu('boletos-menu', $event)")
          a(href="/#!/boletos") Boletos 
          
        li#formularios-menu(ng-show="user !== null" ng-mouseenter="onDropdownmenu('formularios-menu', $event)" ng-mouseleave="onDropupmenu('formularios-menu', $event)")
          a.btn-btn-default.dropdown-toogle(data-toogle="dropdown" aria-expanded="true") Formulários
            span.caret
          ul.dropdown-menu(aria-labelledby="formularios-menu")
            li
              a(href="/#!/formularios/novo") Novo formulário 
            li
              a(href="/#!/formularios") Ver seus formulários

        li#user-menu(ng-mouseenter="onDropdownmenu('user-menu', $event)" ng-mouseleave="onDropupmenu('user-menu', $event)")
          a.btn-btn-default.dropdown-toogle(data-toogle="dropdown" href="#" aria-expanded="true") {{ user.displayName || user.email }}
            img.img-responsive.img-circle.navbar-right(width="32" heigth="32" ng-show="user.photoUrl !== null" ng-src="{{ user.photoURL }}")
            span.caret
  
          ul.dropdown-menu(aria-labelledby="user-menu")
            li
              a(href="/#!/conta") Conta
            li
              a(ng-click="logout()") Logout



