nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  div.container
    div.navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navCollapse")
        img(width="24" height="24" src="/assets/images/vanessadora.png")
    
    div.collapse.navbar-collapse.navbar-left
      ul.nav.navbar-nav
        li
          <router-link :to="{name:'_index'}">Vanessador</router-link>

    div#navCollapse.collapse.navbar-collapse.navbar-right
      ul.nav.navbar-nav(v-if="!$parent.autorizado")
        li#auth-menu
          a.nav-link.active(href="https://www.github.com/lunhg/vanessador") Contribua
        li
          <router-link :to="{name:'login'}">Login</router-link>  
        li
          <router-link :to="{name:'signup'}">Cadastre-se</router-link>  
      
      ul.nav.navbar-nav(v-else)
        li#boletos-menu
          <router-link to="{path:'/boletos'}">
            img(src='https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Fwww.github.com%2Flunhg%2Fvanessador&chs=180x180&choe=UTF-8&chld=L|2' width='28' height='28' rel='nofollow' alt='qr code')
              
          </router-link> 
          
        li#formularios-menu
          <router-link :to="{path:'/formularios'}">
            img(src="/assets/images/formularios.png" width="28" height="28")    
          </router-link>

        li#formularios-novo-menu
          <router-link to="/formularios/novo">
            img(src="/assets/images/novo.png" width="28" height="28")
          </router-link>

        li#estudantes-menu
          <router-link to="/estudantes">
            img(src="/assets/images/estudante.png" width="28" height="28")
          </router-link>

        li#conta-menu
          <router-link :to="{path:'/conta'}">
            img(v-if="user.photoURL" :src="user.photoURL" width='28' height='28')
            img(v-else src="/assets/images/vanessadora.png" width='28', height='28')
          </router-link> 

              



