div.row
  div.side-menu
    nav.navbar.navbar-default(role='navigation')
      div.navbar-header
        div.brand-wrapper
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          div.brand-name-wrapper
            <router-link id='index-button' class='' :to="{name:'_index'}">
              span.navbar-brand Vanessador
            </router-link> 
          
          // Search
          a.btn.btn-default#search-trigger(data-toggle='collapse')
            span.glyphicon.glyphicon-search
          //Search Body
          div#search.panel-collapse.collapse
            div.panel-body
              form.navbar-form(role="search")
                div.form-group
                  input#search-input.form-control(type="text" placeholder="Search" v-on:keyup.prevent='onSearch')
                  
    
          //Search List
          ul#search-list.list-group.scrollable-menu
            li.list-group-item(v-for='(v,k) in searchList')
              small
                div(v-if='searchList[searchInput]')
                  p {{ k }}
                  
                div(v-else)
                  div(v-show='v["Nome"]') 
                    b {{ v['Nome']+" "+v['Sobrenome'] }}
                    p ID: {{ v['ID User'] }}
                    p Alumni: {{ v['Alumini(Sim_Não)'] }}
                    div Emails de contato: 
                      span 
                        a(:mailto='v["Email1"]' v-show='v["Email1"] !== "UNDEFINED"') {{ v['Email1'] }}
                      span
                        a(:mailto='v["Email2"]' v-show='v["Email2"] !== "UNDEFINED"') {{ v['Email2'] }}
                      span 
                        a(:mailto='v["Email3"]' v-show='v["Email3"] !== "UNDEFINED"') {{ v['Email3'] }}
                      span(v-show='v["Email1"] === "UNDEFINED" && v["Email2"] === "UNDEFINED" && v["Email3"] === "UNDEFINED"') Nenhum email definido

                  div(v-show='v["Nome do curso"]') 
                    b {{ v['Nome do curso'] }}
                    p ID: {{ v['ID do Curso'] }}
                    p Carga: {{ v['Carga Horária'] }} ({{ v['Quantidade de aulas '] }} aulas)
                    p Início: {{ v['Data de início'] }}
                    p Valor: R$ {{ v['Valor Cheio '] }} 

                  div(v-show='v["id_typeform"]')
                    b Matrícula {{ k }}: 
                    p Pré-matrícula: {{ v['id_typeform'] }}
                  
                  
                  
        
          // Main menu
          div.side-menu-container
            ul.nav.navbar-nav(v-if="!$parent.autorizado")
              li
                a#github-button.nav-link.active(href="https://www.github.com/lunhg/vanessador") Contribua
              li
                <router-link id='login-button' :to="{name:'login'}">Login</router-link>
    
            ul.nav.navbar-nav(v-else)
                
              li#conta-menu
                div
                  br
                  <router-link id='conta-button' :to="{path:'/conta'}">
                    img(v-if="user.photoURL" :src="user.photoURL" width='28' height='28')
                    img(v-else src="/assets/images/vanessadora.png" width='28' height='28')
                  </router-link> 
                  span Conta
                  br

              li#cursos-menu
                div
                  br
                  <router-link id='cursos-button' to="/cursos">
                    img(src="/assets/images/cursos.png" width='34' height='34')
                  </router-link>
                  span Cursos
                  br

              li#formularios-menu
                div
                  br
                  <router-link id='formularios-button' :to="{path:'/formularios'}">
                    img(src="/assets/images/formularios.png" width='28' height='28')    
                  </router-link>
                  span Formulários 
                    small Pré-matrículas
                  br
              li#matriculas-menu
                div
                  br
                  <router-link id='matriculas-button' to="/matriculas">
                    img(src="/assets/images/matriculas.png" width='28' height='28')
                  </router-link>
                  span Matrículas
                  br

              li#estudantes-menu
                div
                  br
                  <router-link id='estudantes-button' to="/estudantes">
                    img(src="/assets/images/estudante.png" width='32' height='32')
                  </router-link>
                  span Estudantes
                  br      

              li#cobrancas-menu
                div
                  br
                  <router-link id='cobrancas-button' :to="{path:'/cobrancas'}">
                    img(src="/assets/images/cobranca.png" width='28' height='28')    
                  </router-link>
                  span Cobranças

              li#signout-menu
                div
                  br
                  <router-link id='logout-button' to='/login'>    
                    img(v-on:click.prevent="$parent.logout" src='/assets/images/logout.png' width='28' height='28' rel='nofollow')      
                  </router-link> 
                  span Logout
                  br
