mixin title(t, _href) 
  div.navbar-header
    a.navbar-brand(href=""+_href)= t
      img.img-responsive.navbar-left(width="32" height="32" src="/assets/images/vanessadora.png")

mixin menudown(opt)
  li.dropdown(ng-click="onDropmenu(\""+opt.id+"\")" id=""+opt.id)
    a.dropdown-toogle(data-toogle="dropdown" href="#" aria-expanded="true")= opt.label    
      if opt.label == '{{ user.displayName || user.email }}'
        img.img-responsive.img-circle.navbar-right(width="32" heigth="32" ng-show="user.photoUrl !== null" ng-src="{{ user.photoURL }}")
      else
        span.caret
    ul.dropdown-menu(aria-labelledby=""+id)
      block 



