section.centralize-area(ng-show="user === null")
  br
  br
  br
  br
  h1 Você se esqueceu de sua senha?
  p1 Sem problemas. Insira seu email abaixo e notificaremos, por email, a abertura do processo de criação de sua nova senha.
  br
  br
  br
  form
    fieldset 
    - var form = {'reset_login_email':{'type':'text', 'placeholder':'email', 'ng-click':'sendPasswordResetEmail'}}
    - for(var key in form)
      - var val = form[key]
      div.form-group
        label.control-label(for=""+key)
          div
            input.form-control(type=""+val.type id=""+key placeholder=""+val.placeholder)
          
    button.btn.btn-success(data-ng-click=val['ng-click']+"()") Enviar
