section.col-md-12.centralize-area(ng-show="user === null")
  br
  br
  br
  br
  form
    fieldset Insira seu email 
    - var form = {'reset_login_email':{'type':'text', 'placeholder':'email', 'ng-click':'sendPasswordResetEmail'}}
    - for(var key in form)
      - var val = form[key]
      div.form-group
        label.col-lg-2.control-label(for=""+key)
          div.col-lg-10 
            input.form-control(style="width:300px;" type=""+val.type id=""+key placeholder=""+val.placeholder)
          
        button.btn.btn-default(data-ng-click=val['ng-click']+"()") Enviar

section.col-md-12.centralize-area(ng-show="user")
  br
  br
  br
  br
  form
    fieldset 
      div.form-group
        label.col-lg-2.control-label Você já está logado
          div.col-lg-10 
                      
        button.btn.btn-default(data-ng-click="logout()") Enviar
