section.centralize-area(ng-show="user === null")
  br
  br
  br
  br
  h1 Insira seu email 
  br
  br
  br
  br
  form
    fieldset 
    - var form = {'reset_login_email':{'type':'text', 'placeholder':'email', 'ng-click':'sendPasswordResetEmail'}}
    - for(var key in form)
      - var val = form[key]
      div.form-group
        label.control-label(for=""+key)
          div
            input.form-control(type=""+val.type id=""+key placeholder=""+val.placeholder)
          
        button.btn.btn-default(data-ng-click=val['ng-click']+"()") Enviar

section.centralize-area(ng-show="user")
  br
  br
  br
  br
  form
    fieldset 
      div.form-group
        label.control-label Você já está logado            
        button.btn.btn-default(data-ng-click="logout()") Enviar
