div.navbar(ng-show="user === null")
  h1 Insira seu email
  
  div.navbar-left
    form.form-horizontal
      fieldset 
        - var form = {'reset_login_email':{'type':'text', 'placeholder':'email'}}
        - for(var key in form)
          - var val = form[key]
            div.form-group
              label.col-lg-2.control-label(for=""+key)= val.placeholder 
              div.col-lg-10 
                input.form-control(style="width:300px;" type=""+val.type id=""+key placeholder=""+val.placeholder)
          
      button.btn.btn-default(type="submit" ng-click="resetPassword()") Enviar
