section.centralize-area(ng-show="user === null")
  br
  br
  br
  br
  h1 Cadastre-se
  br
  br
  br
  br
  form
    fieldset
      - var form = {'input_signup_email':{'type':'text', 'placeholder':'email'}, 'input_signup_senha':{'type':'password', 'placeholder':'senha'}}
      - for(var key in form)
        - var val = form[key]
        div.form-group
          label.control-label(for=""+key)= val.placeholder 
            div
              input.form-control(type=""+val.type id=""+key placeholder=""+val.placeholder)
    br
    br
    a.btn.btn-success(ng-click="createUserWithEmailAndPassword()") Cadastrar 
