div.jumbotron(v-if='$parent.autorizado' style='background:transparent !important')
  br
  br
  br
  h2 Turmas
  br
  br
  div.container
    accordion(type="warning")
      panel(header='Nova turma')
        form
          fieldset
            div.form-group(v-for="(v,k) in modelos.turmas")
              label.control-label(:for="k") {{ v.label }}
              br
              div
                input.form-control(:type="v.type" :id="k" :placeholder="v.placeholder")
        button.btn.btn-success(v-on:click="onTurmas") Adicionar matrícula

    accordion(type="success")
      panel(header="Importart Excel")
        form
          fieldset
            div.form-group(v-for="(v,k) in modelos.xls.turmas")
              label.control-label(:for="k") {{ v.label }}
              br
              div
                input.form-control(:type="v.type" :id="k" :placeholder="v.placeholder")
        input(type="file" :name='turmas' v-on:change='importarXLS')
  div.container
    br
    br
    h2 Lista de Turmas
    br
    br
    accordion(type="info" :one-at-time='true')  
      panel(v-for="(v,k) in turmas" :data="v" :key="k" :header="k")
        strong(v-for="(val,key) in v")
          u(:id="key") {{ key }}: {{ val }}
          <router-link :to="{path: '/turmas/'+k+'/editar?q='+key}"> Atualizar</router-link>
          br

div(v-else)
  h1 401
  p Não Autorizado
  img(src='https://i.pinimg.com/originals/82/62/90/826290d0a78a5d464815e9112abf788a.jpg') 
